{% extends "header.html" %}
{% block title %} Cart {% endblock %}
{% block content %}

<div class="content_cart" style="margin: 100px">
      <p>User information: {{user.name}} {{user.login}}</p>

        {% for el in cart %}
        <p>Lunch</p>
        <div>
            <p>Amount in cart: {{ el['qty'] }}</p>
            <ul>
                <li>{{ el['lunch'].get_appetizer_name()}} </li>
                <li>{{ el['lunch'].get_dish_name()}} </li>
                <li>{{ el['lunch'].get_drink_name()}}</li>

            </ul>
        </div>
        {% endfor %}

</div>

{% endblock %}