<!DOCTYPE html>
<style>

</style>
<html>

<head>
    <title>Menu HSE</title>
    <meta charset ="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
</head>
    <body>
        <header class="menu">
            <ul>
                <li class="static">MENU</li>
                <li><a href="/" class ={{activeT}}>TODAY</a></li>
                <li><a class={{activeW}} href="/week">WEEK</a></li>
                <li><a class={{activeC}} href="/cart">CART</a></li>
                <li><a class={{activeP}} href="/userPage">PROFILE</a></li>
            </ul>
        </header>
        {% block content %} {% endblock%}
    </body>
</html>