{% extends "header.html" %}
{% block title %} Main {% endblock %}
{% block content %}
    <div class="content_index">
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for cat, message in messages %}
                    {% if cat == 'warning' %}
                        <div class="alert alert-{{cat}} alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
              {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="holder" style="overflow-y:scroll">
            {% for lunch in lunches %}

            <div class="description">
                <li>
                    <h5 class="day_of_week_main">MONDAY</h5>
                    <h3>first dish</h3>
                    <h4 class="dishes">
                        {{ lunch.get_appetizer_name()}}
                    </h4>
                    <h3>second dish</h3>
                    <h4 class="dishes">
                        {{ lunch.get_dish_name()}}
                    </h4>
                    <h3>a drink</h3>
                    <h4 class="dishes">
                        {{ lunch.get_drink_name()}}
                    </h4>
                    <h5 class="type_main">business lunch</h5>
                </li>
                
            </div>

            <div class="photo">
                <img src="" alt="PHOTO">
            </div>
            <form action="/" method="POST">
                    <input class = "invisible" type="hidden" name="add_to_cart">
                    <input class = "invisible" type="hidden" name="lunch_id" value="{{ lunch.id }}">
                    <input class = "invisible" type="hidden" name="qty" value="1">
                    <input type="submit" class="select" value="ADD TO CART" >
            </form>
            {% endfor %}
        </div>

        <div>
            <a href="/logout">LogOut</a>
        </div>
        
    </div>


{% endblock %}
