{% extends "header.html" %}
{% block title %} Main {% endblock %}
{% block content %}
    <div class="content_index">
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for cat, message in messages %}
                    {% if cat == 'warning' %}
                        <div class="alert alert-{{cat}} alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
              {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="holder" style="overflow-y:scroll">
            {% for i in range(3) %}

            <div class="description">
                <li>
                    <h5 class="day_of_week_main">{{day}}</h5>
                    <h3>first dish</h3>
                    <h4 class="dishes">
                        {{ lunches[i].get_appetizer_name()}}
                    </h4>
                    <h3>second dish</h3>
                    <h4 class="dishes">
                        {{ lunches[i].get_dish_name()}}
                    </h4>
                    <h3>a drink</h3>
                    <h4 class="dishes">
                        {{ lunches[i].get_drink_name()}}
                    </h4>
                     {% if lunches[i].name[:3] == "std" %}
                        <h5 class="type">standart lunch</h5>
                        {% else %}
                            {%  if lunches[i].name[:3] == "bsn" %}
                                <h5 class="type">business lunch</h5>

                            {% else %}
                                <h5 class="type">vegetarian lunch</h5>
                            {% endif %}
                        {% endif %}
                </li>
                
            </div>

            <div class="wrapper photo">
    <input type="radio" name="point" id="slide{{i*3+1}}" checked>
    <input type="radio" name="point" id="slide{{i*3+2}}">
    <input type="radio" name="point" id="slide{{i*3+3}}">
    <div class="slider">


        <div class = "photo slides slide{{i*3+2}}" style="background-image: url(../../static/img/{{lunches[i].get_dish_photo()}}.jpg);"></div>
        <div class = "photo slides slide{{i*3+3}}" style="background-image: url(../../static/img/{{lunches[i].get_drink_photo()}}.jpg);"></div>
        <div class = "photo slides slide{{i*3+1}}"
             style="background-image: url(../../static/img/{{lunches[i].get_appetizer_photo()}}.jpg);"></div>
    </div>
    <div class="controls">
        <label for="slide{{i*3+1}}"></label>
        <label for="slide{{i*3+2}}"></label>
        <label for="slide{{i*3+3}}"></label>
    </div>
</div>



            <form action="/" method="POST">
                    <input class = "invisible" type="hidden" name="add_to_cart">
                    <input class = "invisible" type="hidden" name="lunch_id" value="{{ lunches[i].id }}">
                    <input class = "invisible" type="hidden" name="qty" value="1">
                    <input type="submit" class="select" value="ADD TO CART" >
            </form>
            {% endfor %}
        </div>

    </div>





{% endblock %}
