{% extends "header.html" %}
{% block title %} Week {% endblock %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="grid">
            {% for lunch in lunches %}
            <div class="card_container">
                <div class="menu_card">
                    <ul>
                        <h5 class="headers">first course</h5>
                        <li class="dishes">{{ lunch.get_appetizer_name() }}</li>
                        <h5 class="headers">second course</h5>
                        <li class="dishes">{{lunch.get_dish_name()}}</li>
                        <li class="dishes">dish</li>
                        <li class="dishes">dish</li>
                        <h5 class="headers">drink</h5>
                        <li class="dishes">{{lunch.get_drink_name()}}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
